@model IEnumerable<wwwGames.Models.Team>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<table class="table">
    <thead>
        <tr>
            <td>@Localizer["team.allTeams.name"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td><a asp-controller="Team" asp-action="Team" asp-route-id="@team.Id">@team.Id</a></td>
            </tr>
        }
    </tbody>
</table>