@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<div class="card" style="margin-top:20px; display:flex; justify-content:space-between">

    <div>
        @await Component.InvokeAsync("TeamCard", new { team = Model })
    </div>


    <div>
        @{await Html.RenderPartialAsync("UsersTable");}
    </div>
    <div>
        @{await Html.RenderPartialAsync("CodesTable");}
    </div>

</div>
