<div class="card" style="margin-top:20px; display:flex; justify-content:space-between">

    <div>
        <span class="header">EDIT TEAM</span>
        <img src="http://itd3.mycdn.me/image?id=870833799678&t=20&plc=WEB&tkn=*k-3-HsUx3lQEvaOG17U1VFWCM6w" style="width:200px">
        <div>
            <span class="large">@Model.Name</span>
            @{var parameters = new { teamId = Model.Id };}
            <button onclick="location.href='@Url.Action("AllUsers", "User", parameters)'">
                ПРОСМОТРЕТЬ
            </button>
        </div>
    </div>


    <div>
        @{await Html.RenderPartialAsync("UsersTable");}
    </div>
    <div>
        @{await Html.RenderPartialAsync("CodesTable");}
    </div>

</div>
